/*
    Medias queries

    Created on : 31/01/2017, 10:41:25
    Author     : diego.costa
*/

/* Large desktops and laptops */
@media (min-width: 1200px) {

}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    header.site-header{
        max-height: 340px;
    }
    header{
        .header__navigation{
            ul{
                li{
                    a{
                        @include font-size(1.2);
                    }
                }
            }
        }
    }
    .breadcrumbs{
        height: 200px;
    }

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
    footer{
        .footer__logo-sap{
            @include background("./template_image/footer__logo-sap.png", $repeat: no-repeat, $position: -10px top, $background-size:30%);
        }
    }
    .home header.site-header{
        background: none!important;
    }
    .breadcrumbs{
        .breadcrumbs-itens{
            top: 100%;
        }
    }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    .home header.site-header{
        background: none!important;
    }
    .breadcrumbs{
        .breadcrumbs-itens{
            top: 100%;
        }
    }


}

/* Portrait phones and smaller */
@media (max-width: 480px) {

    .breadcrumbs{
        height: 160px;

        .breadcrumbs-itens{
            top: 100%;
            ol{
                flex-wrap: wrap;
            }
        }
    }

    .insider{
        height: 300px;
        background-position: center center;
    }



    // formata o titulo dos cases
    .case-custom-post{
        .case-custom-post-box{
            @include padding-sides(0);

            .case-custom-post-box-titulo{
                padding: 3px 12px;
                min-height: 45px;
                display: inline-flex;
                text-align: left;
            }
        }
    }

    footer {
        @include background-color($color-blue-regular);

        h1,h2,h3,h4,h5,h6{
            @include font-size(1);
        }
        p, h1,h2,h3,h4,h5,h6{
            color: $color-white !important;
        }
        p{
            @include font-size(0.8);
        }
        .footer__logo-sap{
            @include background("./template_image/footer__logo-sap.png", $repeat: no-repeat, $position: -10px top, $background-size:100%);
        }
        .home header.site-header{
            background: none!important;
        }
        header.site-header{
            max-height: 190px;
        }
    }
    // borda na parte superior da redes sociais
    .sub__footer{
        .sub__footer-redes-sociais{
            ul{
                @include border(1px 0 0 0, solid, #FFF);
                width: 90%;
                margin-left: 5%;
            }
        }

    }

    // formata a newsletter
    .newsletter{
        fieldset {
            div{
                @include margin-extremes(10px!important);
                width: 100%!important;                
                input[type="text"], input[type="email"]{
                    height: 40px;
                }
            }
        }
    }

    // what we do 
    .what-we-do{
        .what-we-do__box{
            width: 91.5%;

            h2.first{
                margin-top: 5px;
            }

            .what-we-do__desc{
                line-height: 20px;
                margin-top: 15px;

            }
        }
    }

    //formata o contato landing page
    .btn-azul{
        display: block;
        width: 80%;
        margin-left: 10%;
    }

    // formata os forms hubspot
    .hbspt-form{
        .hs_submit{
            .actions {
                input[type="submit"]{
                    @include font-roboto($size: 1.4rem);
                    width: 98%;
                }
            }
        }
        label{
            @include font-roboto-regular($size: 1.4rem, $weight: bold);
        }
    }

    .form-columns-2 {
        .hs-form-field{
            .hs-input{
                width: 100%!important;
            }
        }
    }
    .bg-form-mobile-hs{
        background-color: $color__background-form-hs;
    }

    // formata o formulário de trabalhe conosco
    .wpcf7-form{
        p, .wpcf7-submit{            
            width: 100%;            
        }
    }
}