/*
    Medias queries

    Created on : 31/01/2017, 10:41:25
    Author     : diego.costa
*/

/* Large desktops and laptops */
@media (min-width: 1200px) {

}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
    footer{
        .footer__logo-sap{
            @include background("./template_image/footer__logo-sap.png", $repeat: no-repeat, $position: -10px top, $background-size:30%);
        }
    }
    .header.site-header{
        background: none;
    }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    .header.site-header{
        background: none;
    }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {

    footer {
        p{
            @include font-size();
        }
        .footer__logo-sap{
            @include background("./template_image/footer__logo-sap.png", $repeat: no-repeat, $position: -10px top, $background-size:100%);
        }
        .header.site-header{
            background: none;
        }
    }

}