/* 
    Created on : 23/01/2017, 16:13:28
    Author     : diego.costa
*/

@import "../mixins/utility.scss";
@import "../typography/_typography.scss";
@import "../variables-site/_colors.scss";

header.site-header{
    min-height: 161px;
    padding-top: 30px;
    position: absolute;
    width: 100%;
    z-index: 2;
}
.header__form_busca{
    .search{
        @include font-size(5);
        height: 90px;
        @include text-center();
    }
    .modal-dialog{
        margin-top: 22%;
    }
}
//transição do sub-menu desktop
.visible {
    display: block!important;
    @include transition(all 1s cubic-bezier(.6,-0.28,.74,.05));
}
//logo mobile
.logo-holder{
    text-align: left!important;
    margin-left: 20px;
}
.mobmenur-container{
    margin-right: 20px!important;
}
.mobmenu_content{
    #mobmenuright {
        li.menu-item-has-children{
            ul.sub-menu{
                li.menu-item{
                    a{
                        padding-left: 15px!important;
                    }
                }
            }
        }
        .sub-menu{
            padding-left: 0!important;

        }
    }
}

//botao laranja

.btnLaranja{
    color: #FFF;
    background: $color-orange;
    @include font-roboto-bold();
    padding: 12px 35px;
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    &:hover{
        color: #FFF;
    }
}



//.main-navigation ul li:hover > ul
header{
    .header__navigation{
        ul{
            li{
                a {
                    padding:10px;
                    @include font-roboto-bold(1.4rem, #FFF, normal);
                    &:visited {
                        color: #FFF;
                    }
                    &:hover,
                        &:focus,
                        &:active {
                        color: #FFF;
                        background: #4889a7;
                    }
                    &:focus {
                        outline: thin dotted;
                    }
                    &:hover,
                        &:active {
                        outline: 0;
                    }
                }
                &:hover{
                    ul{
                        background: #4889a7;
                        margin-top: 2.5em;
                        @include transition(all 0.5s cubic-bezier(.6,-0.28,.74,.05));
                        li{
                            a{
                                &:hover{
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .header__logo{
        a{
            display: block;
            padding: 50px;
            @include background("./template_image/header__logo_mjv.png", $repeat: no-repeat, $position: center center);
            background-size: 100%;
        }
    }
    .header__busca{
        button{            
            background:none;
            border: none;
            color: #FFF;
        }
        .ico-search{
            @include background("./template_image/ico-search.png", $background-size:100%);
            padding: 15px;
        }

    }

    .header__submenu {
        //border-bottom: solid 1px #FFF;
        padding-bottom: 10px;
        padding-top: 10px;
        ul {
            list-style: none;
            li{
                float:left;
                a{
                    color:#FFF;
                    margin: 20px 5px 5px;
                    font-size: 1.4rem;
                    padding-right: 10px;
                    border-right: solid 1px #FFF;
                }
                :hover{
                    text-decoration: underline;
                }
                &:last-child{
                    border: none;
                    float: right;
                    a{
                        border: none;
                    }
                }

            }

        }
        .ico-globo{            
            @include background("./template_image/ico-globo.png", $repeat: no-repeat, $position: center center, $background-size:60%);
            padding: 15px;
        }
    }
    nav{
        .navbar-default{
            .navbar-toggle { 
                button{
                    &:focus,
                        &:hover{
                        border: none !important;
                    }
                }
            }
        }
    }

}// fim header

main{
    h1, h2, h3, h4, h5, h6{
        @include font-roboto-bold($color: $color-blue-regular , $weight: bold);
    }
}


footer {
    h1, h2, h3, h4, h5, h6{
        @include font-roboto-bold($color: $color-gray-light, $weight: bold);
    }
    .footer__logo{
        a{
            padding: 40px;
            display: block;
            @include background("./template_image/footer__logo_mjv.png", $repeat: no-repeat, $position: left center, $background-size:100%);
        }
    }
    .footer__redes-sociais{
        @include background-color($color-blue-regular);
        padding-top: 20px;
        padding-bottom: 20px;
        ul{
            list-style: none!important;
            li{
                float:left;
                a{
                    padding:20px; 
                }
                a.footer_redes-sociais-face{
                    @include background("./template_image/footer__ico-facebook.png", $repeat: no-repeat, $position: center center, $background-size:100%);
                }
                a.footer_redes-sociais-linkedin{
                    @include background("./template_image/footer__ico-linkedin.png", $repeat: no-repeat, $position: center center, $background-size:100%);
                    margin: 0 20px;
                }
                a.footer_redes-sociais-twitter{
                    @include background("./template_image/footer__ico-twitter.png", $repeat: no-repeat, $position: center center, $background-size:100%);
                }
            }
        }
    }
    .footer__logo-sap{
        @include background("./template_image/footer__logo-sap.png", $repeat: no-repeat, $position: left top, $background-size:60%);
        padding: 50px;
    }
}


