/* 
    Created on : 23/01/2017, 16:13:28
    Author     : diego.costa
*/

@import "../mixins/utility.scss";
@import "../typography/_typography.scss";
@import "../variables-site/_colors.scss";

.thumbs{
    height: 143px;    
    @include background($imgpath:false, $position:center center, $repeat: no-repeat,  $background-size:cover);
}
.destaque{
    font-size:16px;
}
p{
    @include font-roboto($color:  $color__text-main);   
}
.insider {
    @include background($repeat: no-repeat,  $background-size:cover);
    height: 300px;
}
.site-main{
    @include padding-extremes(20px);
}

.home{
    header.site-header{
        position: absolute;
        @include background("./template_image/header_bg.png", $repeat: repeat-x);
    }
    h1{
        @include font-roboto($color: $color-blue-regular);
    }
}
header.site-header{
    position: relative;
    min-height: 161px;
    padding-top: 30px;
    width: 100%;
    z-index: 2;
}

.slotholder{
    &:after{
        content: "";
        @extend .header__shadow;
        z-index: 1!important;
    }
}
.header__shadow{
    @include gradient-vertical();
    height: 60%;
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: -1;
}

.header__form_busca{
    .search{
        @include font-size(5);
        height: 90px;
        @include text-center();
    }
    .modal-dialog{
        margin-top: 22%;
    }
}
//transição do sub-menu desktop
.visible {
    display: block!important;
    @include transition(all 1s cubic-bezier(.6,-0.28,.74,.05));
}
//logo mobile
.logo-holder{
    text-align: left!important;
    margin-left: 20px;
}
.mobmenur-container{
    margin-right: 20px!important;
}
.mobmenu_content{
    #mobmenuright {
        li.menu-item-has-children{
            ul.sub-menu{
                li.menu-item{
                    a{
                        padding-left: 15px!important;
                    }
                }
            }
        }
        .sub-menu{
            padding-left: 0!important;

        }
    }
}

//botao laranja
.btnLaranja{
    background: $color-orange;
    @include padding-extremes(1.5rem);
    @include margin-extremes(2rem);
    display: block;
    text-transform: uppercase;
    text-align: center;
    a{
        @include font-roboto($size: 1.5rem, $color: $color-white, $weight: bold,  $lh: false);
        &:hover{
            color: #FFF;
        }
    }
}

.page-template-page-insider{
    header{
        .insider{
            position: relative;
        }
    }
}

// formata as cores dos shortcodes dos titulo internos de expert
.design-thinking{
    $design-thinking: design-thinking;
    @if $design-thinking == design-thinking{
        .destaques-internas-numero{
            @include border($width: 2px, $style: solid, $color: $color__design-thinking);
        }
        .destaques-internas-titulo{
            @include border($width: 0 0 2px 0, $style: solid, $color: $color__design-thinking);
            color: $color__design-thinking;
        }
    }
}
.gamification{
    $gamification: gamification;
    @if $gamification == gamification{
        .destaques-internas-numero{
            @include border($width: 2px, $style: solid, $color: $color__gamification);
        }
        .destaques-internas-titulo{
            @include border($width: 0 0 2px 0, $style: solid, $color: $color__gamification);
            color: $color__gamification;
        }
    }
}
.big-data-analysis{
    $big-data-analysis: big-data-analysis;
    @if $big-data-analysis == big-data-analysis{
        .destaques-internas-numero{
            @include border($width: 2px, $style: solid, $color: $color__big-data-analysis);
        }
        .destaques-internas-titulo{
            @include border($width: 0 0 2px 0, $style: solid, $color: $color__big-data-analysis);
            color: $color__big-data-analysis;
        }
    }
}
.lean-methodology{
    $lean-methodology: lean-methodology;
    @if $lean-methodology == lean-methodology{
        .destaques-internas-numero{
            @include border($width: 2px, $style: solid, $color: $color__lean-methodology);
        }
        .destaques-internas-titulo{
            @include border($width: 0 0 2px 0, $style: solid, $color: $color__lean-methodology);
            color: $color__lean-methodology;
        }
    }
}
.digital-strategy{
    $strategy: strategy;
    @if $strategy == strategy{
        .destaques-internas-numero{
            @include border($width: 2px, $style: solid, $color: $color__digital-strategy);
        }
        .destaques-internas-titulo{
            @include border($width: 0 0 2px 0, $style: solid, $color: $color__digital-strategy);
            color: $color__digital-strategy;
        }
    }
}
.internet-of-things{
    $internet-of-things: internet-of-things;
    @if $internet-of-things == internet-of-things{
        .destaques-internas-numero{
            @include border($width: 2px, $style: solid, $color: $color__internet-of-things);
        }
        .destaques-internas-titulo{
            @include border($width: 0 0 2px 0, $style: solid, $color: $color__internet-of-things);
            color: $color__internet-of-things;
        }
    }
}

//.main-navigation ul li:hover > ul
header{
    .header__navigation{
        text-transform: uppercase;
        ul{

            li.current-menu-item, .current-menu-ancestor{
                background: #4889a7;
                ul.sub-menu{
                    li.current-menu-item{
                        background: #3A7F9E;
                        &:hover{
                            background: #4889a7;
                        }
                    }
                }
            }
            li{
                a {
                    padding:10px;
                    @include font-roboto(1.4rem, #FFF, normal);
                    &:visited {
                        color: #FFF;
                    }
                    &:hover,
                        &:focus,
                        &:active {
                        color: #FFF;
                        background: #4889a7;
                    }
                    &:focus {
                        outline: thin dotted;
                    }
                    &:hover,
                        &:active {
                        outline: 0;
                    }
                }
                &:hover{
                    ul{
                        background: #4889a7;
                        margin-top: 2.5em;
                        @include transition(all 0.5s cubic-bezier(.6,-0.28,.74,.05));
                        li{
                            a{
                                &:hover{
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .header__logo{
        a{
            display: block;
            padding: 50px;
            @include background("./template_image/header__logo_mjv.png", $repeat: no-repeat, $position: center center);
            background-size: 100%;
        }
    }
    .header__busca{
        button{            
            background:none;
            border: none;
            color: #FFF;
        }
        .ico-search{
            @include background("./template_image/ico-search.png", $background-size:100%);
            padding: 15px;
        }

    }

    .header__submenu {
        //border-bottom: solid 1px #FFF;
        padding-bottom: 10px;
        padding-top: 10px;
        padding-right: 0;

        ul {
            display: block;
            position: relative;
            text-align: right;
            list-style: none;
            @include margin-sides(0);

            li{
                display: inline-table;
                a{
                    color:#FFF;
                    margin: 20px 5px 5px;
                    font-size: 1.4rem;
                    padding-right: 10px;
                    border-right: solid 1px #FFF;
                }
                :hover{
                    text-decoration: underline;
                }
                &:last-child{
                    border: none;
                    a{
                        border: none;
                    }
                }

            }

        }
        .ico-globo{            
            @include background("./template_image/ico-globo.png", $repeat: no-repeat, $position: center center, $background-size:60%);
            padding: 15px;
        }
    }
    nav{
        display: flex!important;
        flex-direction: row-reverse;

        .navbar-default{
            .navbar-toggle { 
                button{
                    &:focus,
                        &:hover{
                        border: none !important;
                    }
                }
            }
        }
    }

}// fim header
// breadcrumb
.breadcrumbs{
    position: relative;
    height: 180px;

    .breadcrumbs-itens{
        position: absolute;
        bottom: 60px;
        height: auto;
        text-transform: capitalize;
        color: $color-white;
        @include font-size(1.5);

        a, &a:hover{
            color: $color-white;
        }

        ol{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: flex-start;
            list-style: none;
            padding: 0;
            margin: 0;

            li{
                padding-right: 10px;
            }
        }
        .breadcrumbs-titulo{
            margin-top: 10px;
            margin-bottom: 0;
        }
    }


}
main, aside{
    h3{
        @include font-roboto($weight: 100 !important);
    }

    .expertise{        
        @each $current-color in $color__colors-list {
            $i: index($color__colors-list, $current-color);
            .expertise__bg-#{$i} {
                background-color: $current-color;
                padding: 5px 0;
            }
        }

        figure{
            figcaption{
                @include font-size(1.5);
                margin-top: 10px;
                color: $color-white;
                height: 50px;
                text-transform: uppercase;
                text-align: center;
                padding: 5px;

                a, &:hover{
                    color: $color-white;
                    display: block;
                }
            }
            img{
                width: 100%!important;
                max-height: 202px;
            }
        }
    }
    .cases{
        .cases__title{
            margin-bottom: 0;
        }
        .cases__box{
            .cases__content{
                @include background-color($color__cases-bg);
                figure{
                    padding: 5px 0;
                    img{
                        max-height: 149px;
                    }
                    figcaption{
                        @include font-size(1.5);
                        margin-top: 10px;
                        height: 50px;
                        color: $color-white;
                        text-align: center;
                        padding: 5px;
                        a, &:hover{
                            color: $color-white;

                        }
                    }
                }
            }
        }
    }
    .content{

        .content__title{
            margin-bottom: 0;
        }
        .content__box{
            .content__content{
                @include background-color($color__content-bg);
                figure{
                    padding: 5px 0;
                    img{
                        max-height: 149px;
                    }
                    figcaption{
                        @include font-size(1.5);
                        margin-top: 10px;
                        color: $color-white;
                        height: 80px;
                        text-align: center;
                        padding: 5px;
                        a, &:hover{
                            color: $color-white;

                        }
                    }
                }
            }
        }
    }
    .iot{
        .iot__title{
            margin-bottom: 0;
        }
        .iot__box{
            .iot__content{
                @include background-color($color__internet-of-things);
                figure{
                    padding: 5px 0;
                    img{
                        max-height: 149px;
                    }
                    figcaption{
                        @include font-size(1.5);
                        margin-top: 10px;
                        color: $color-white;
                        height: 50px;
                        padding: 5px;
                        min-height: 164px;
                    }
                }
                a, &:hover{
                    color: $color-white;
                }
            }
        }
    }
    //clients page
    .clients{
        .clients__title{
            color: $color-blue-regular;
        }
    }
    .client-custom-post{
        .clients{
            .clients__title{
                margin-bottom: 0;
                color: $color-blue-regular;
            }
            .clients__box{               
                .clients__content{
                    //@include border($width:2px, $style:solid, $color:$color-blue-regular);
                    @include margin-extremes(20px);
                    //min-height: 240px;
                    text-align: center;

                    figure{
                        @include grayscale_element(100%);
                        transition: all 200ms ease-in-out;
                        &:hover {
                            @include grayscale_element(0);
                        }
                        figcaption{
                            display: none;
                            /* @include font-size(1.5);
                             margin-top: 10px;
                             height: 50px;
                             color: $color-blue-regular;
                             text-transform: uppercase;
                             padding: 5px;
                             a{
                                 color: $color-blue-regular;
                             }*/

                        }
                    }
                }
            }
        }
    }
    // clients home page{}
    .clients{
        figure{
            @include grayscale_element(100%);
            transition: all 200ms ease-in-out;
            &:hover {
                @include grayscale_element(0);
            }
        }
    }

    .content, .cases{
        h1{
            @include font-roboto($color: $color-blue-regular!important);
        }
    }
    .destaques-internas{
        display: table;
        width: 100%;

        .destaques-internas-numero{
            text-align: center;
            //border: solid 1px red;
            margin-top: 0;
            display: table-cell;
            font-weight: bold;
            padding: 4px 10px;
            width: 50px;
        }
        .destaques-internas-titulo{
            width: 100%;
            font-size: 21px;
            padding-left: 20px;
            padding-bottom: 1px;
        }



    }
}

// newsletter
.newsletter{
    article{
        @include margin-extremes(0);
    }
    @include background("./template_image/bg-newsletter.jpg", $background-size:cover);

    label{
        color: $color-white!important;
    }

    .newsletter-box{
        display: flex;
        justify-content: center;
        @include font-roboto-regular($color: $color-white, $weight: 100);

        h1, h2, h3, h4, h5, h6{
            color: $color-white;
        }

        .newsletter-box-form{
            @include padding-sides(10px);
            @include padding-extremes(10px);
            @include background-color($color-blue-regular);
            @include margin-extremes(10px);
            @include margin-sides(10px);
            @include border(10px, solid, $color-blue-light);
            height: auto;

            input[type="text"], input[type="email"]{
                width: 100%;
                margin-bottom: 0!important;
            }
        }
    }
    .hs_submit{
        display: flex;
        justify-content: center;

        .hs-button{
            background: $color-orange;
            @include padding-extremes(1.5rem);
            @include margin-extremes(2rem);
            @include font-roboto($size: 1.5rem, $color: $color-white, $weight: bold,  $lh: false);
            border: none;
            display: block;
            text-transform: uppercase;
            text-align: center;

        }
    }

    fieldset {
        div{
            @include margin-extremes(10px!important);       
            input[type="text"], input[type="email"]{
                height: 40px;
            }
        }
    }
}

// formata os formulários de contato
.hbspt-form{
    @include border-radius(0!important);

    label{      
        @include font-roboto-regular($weight: 100, $color: $color-gray-light);
        margin-bottom: 0;
        margin-top: 15px;
    }
    @include font-roboto-regular($size: 2rem);
    fieldset{
        max-width: 100%!important;
    }
    .hs-form{
        fieldset.form-columns-1{
            .hs-input{
                width: 100%;
            }
        }
    }
    .input{        
        input[type="text"], input[type="email"], input[type="tel"], select{
            height: 40px;
            width: 100%;
            margin-bottom: 0!important;
        }
        textarea{
            height: 150px;
        }
    }
    .hs_submit{
        .actions {
            input[type="submit"]{
                @extend .btnLaranja;
                @include font-roboto($size: 2rem, $color: $color-white, $weight: bold);
                border:none;
            }
        }
    }
    .hs-error-msgs{
        color: red;
        @include list-unstyled();
        @include margin-sides(0);
    }
    ul{
        @include list-unstyled();
        @include padding-sides(0);
        @include margin-sides(0);

        li{
            label{
                .hs-input{
                    width: 25px!important;
                }
            }
        }
    }
}

// formata o formulário de trabalhe conosco
div.wpcf7-validation-errors{
    border: none!important;
}
.wpcf7-form{

    p{
        @include font-roboto-regular($weight: bold, $color: $color-gray-light);
        width: 49%;
        float: left;
        margin-right: 20px;

        .wpcf7-form-control-wrap{
            display: block;
            input[type="text"], input[type="email"], input[type="tel"], select{
                height: 40px;
                width: 100%;
                margin-bottom: 0!important;
                @include border-radius(0);
            }            
            textarea{
                height: 150px;
                @include border-radius(0);
            }

        }
        .wpcf7-submit{
            @extend .btnLaranja;
            @include font-roboto($size: 1.5rem, $color: $color-white, $weight: bold,  $lh: false);
            @include border-radius(0);
            border:none;
        }
        &:nth-child(8){
            width: 100%;
        }
        &:nth-child(3), &:nth-child(5), &:nth-child(7){
            margin-right: 0;
        }
    }
}

// formata os titulos de what we do

.what-we-do{

    .cases__content{
        @include background-color($color-blue-regular!important);


    }

    .what-we-do__ancoras{
        a{
            color: $color-gray-light;
            &:hover{
                text-decoration: underline;
            }
        }

    }
    .what-we-do__box{
        display: flex;
        width: 97.5%;
        @include margin-sides(15px);
        @include margin-extremes(10px);

        h1, h2, h3, h4, h5, h6{
            @include font-roboto($size: 16px, $weight: bold, $color: $color-blue-regular);
            @include margin-extremes(0);
        }

        .what-we-do__img{
            @include padding-sides(15px);
            @include padding-extremes(10px);
            @include border(2px, solid, $color-blue-regular);
        }

        .what-we-do__desc{
            margin-bottom:0;
            width: 100%;
            line-height: 50px;
            vertical-align: bottom;
            @include border(0 0 2px 0 , solid, $color-blue-regular);
            @include padding-sides(10px);
            font-size: 18px;
        }

    }
    .see-also{
        h1, h2, h3, h4, h5, h6{
            margin-bottom: -15px;
            @include font-roboto($color:$color-blue-regular);
        }
    }
}

.case-custom-post{

    .case-custom-post-navigation-previous{
        margin-right: 30px;
    }
    .case-custom-post-navigation{        
        @include background-color($color-blue-regular);
        @include text-center();
        @include padding-extremes(10px);
        @include padding-sides(10px);
        @include margin-extremes(20px);

        a{
            @include font-roboto($color:$color-white);
            @include font-size(2);

            &:hover{
                text-decoration: underline;
            }
        }
    }
    .case-custom-post-box{
        @include margin-extremes(20px);
        @include text-right();

        .case-custom-post-box-icone{
            @include border(2px, solid, $color-blue-regular);
            padding: 14px 2px;            
        }
        .case-custom-post-box-titulo{
            @include border(2px 2px 2px 0, solid, $color-blue-regular);
            @include font-roboto(18px, $color-blue-regular, $weight: bold,  $lh: false);
            padding: 5px 60px 12px 12px;
        }
    }
}

// formata a página de contato lading page
.btn-azul{
    @include btn-azul();
    @include padding-extremes(10px);
    @include padding-sides(20px);

    &:hover{
        color: $color-white;
    }   
}

//footer
footer {
    h1, h2, h3, h4, h5, h6{
        @include font-roboto($color: $color-gray-light);
    }
    .footer__logo{
        .footer__logo-desktop, .footer__logo-mobile{
            padding: 40px;
            display: block;
        }
        .footer__logo-desktop{
            @include background("./template_image/footer__logo_mjv.png", $repeat: no-repeat, $position: left center, $background-size:100%);
        }
        .footer__logo-mobile{
            @include background("./template_image/footer__logo_mjv-mobile.png", $repeat: no-repeat, $position: left center, $background-size:100%);
        }
    }
    .footer__logo-sap{
        @include background("./template_image/footer__logo-sap.png", $repeat: no-repeat, $position: left top, $background-size:60%);
        padding: 50px;
    }
    .footer__logo-sap-mobile{
        @include background("./template_image/footer__logo-sap-mobile.png", $repeat: no-repeat, $position: left top, $background-size:60%);
        padding: 50px;
    }
}
.bg-footer{
    @include background-color($color-blue-regular);
}
.sub__footer{

    .sub__footer-redes-sociais{
        ul{
            list-style: none!important;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
            padding: 30px 0 10px 0;
            margin: 1.5rem 0;
        }

        li{
            a{
                padding:12px 20px; 
            }
            a.sub__footer-redes-face{
                @include background("./template_image/footer__ico-facebook.png", $repeat: no-repeat, $position: center center, $background-size:100%);
            }
            a.sub__footer-redes-linkedin{
                @include background("./template_image/footer__ico-linkedin.png", $repeat: no-repeat, $position: center center, $background-size:100%);
                margin: 0 20px;
            }
            a.sub__footer-redes-twitter{
                @include background("./template_image/footer__ico-twitter.png", $repeat: no-repeat, $position: center center, $background-size:100%);
            }
        }
    }
}

// formata 404
.error-404{
    h1, h2, h3, h4, h5, h6{
        color: $color-blue-regular;
    }
}
.form-busca-404{
    .search-404{
        @include padding-sides(20px);
        height: 60px;
    }
    .input-group-addon{
        button{
            @include background("./template_image/ico-search.png", $background-size:100%);
            padding: 15px;
        }
    }

    .input-group-addon, input, button{
        @include border-radius(0);
        border:none;
    }
    .input-group-addon, button{
        @include background-color($color-blue-regular);
        color: $color-white;
    }
    input, button{
        background: none;
    }
    .form-busca-404__grupo{
        @include border(2px, solid, $color-blue-regular);

    }
}

// formata o menu biblioteca
.menu-biblioteca{

    .menu-biblioteca__itens{
        h1, h2, h3, h4, h5, h6{
            background: $color__background-orange;
            @include background-color($color__background-orange);
            @include font-roboto-regular($color: $color-white, $weight: 100);
            @include padding-sides(10px);
            @include padding-extremes(10px);
        }
        .menu{
            a{
                @include font-size(2);
                color: $color-gray-light;
                @include padding-sides(10px);

                &:hover{
                    text-decoration: underline;
                }
            }

        }

        ul{
            @include margin-sides(0);
            @include padding-sides(10px);
            @include list-unstyled();
            list-style: none !important;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }

    }
}
.biblioteca-content{
    .biblioteca-content__itens{
        ul{
            @include padding-sides(10px);
            @include list-unstyled();
        }
    }
}

.biblioteca{

    .biblioteca-boxes{

        .biblioteca-boxe__content{
            @include background-color($color__background-orange);
            figure{
                @include padding-extremes(5px);

                figcaption{
                    height: 50px;
                    color: $color-white;
                    text-transform: uppercase;
                    text-align: center;
                    @include padding-sides(5px);
                    @include padding-extremes(10px);
                    @include font-size(1.5);

                    a, &:hover{
                        color: $color-white;

                    }
                }
            }
            .biblioteca-boxe__description{
                height: 60px;
            }
        }
    }
}

// RESETS VISUAL COMPOSER
.wpb_content_element{
    margin-bottom: 10px!important;
}