// cores MJV
$color-blue-regular : #61abdf;
$color-blue-light   : #ABD3ED;
$color-blue-deep    : #51C0E6;
$color-white        : #ffffff;
$color-gray-regular : #505050;
$color-gray-light   : #999999;
$color-gray-deep    : #333333;
$color-orange       : #FFB400;

// fim cores MJV

$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

// colors expertise
$color__design-thinking: #ca2c58;
$color__gamification: #ffb400;
$color__big-data-analysis: #78b444;
$color__lean-methodology :#b4adcc;
$color__digital-strategy: #00698c;
$color__internet-of-things :#6cc4c8;

// usado no looping das expertises.
$color__colors-list: $color__design-thinking $color__gamification $color__big-data-analysis $color__lean-methodology $color__digital-strategy $color__internet-of-things;

// colors box
$color__cases-bg: $color-blue-regular;
$color__content-bg: #E38428;