// cores MJV
$color-blue-regular : #57a8db;
$color-blue-light   : #ABD3ED;
$color-blue-deep    : #51C0E6;
$color-white        : #ffffff;
$color-gray-regular : #505050;
$color-gray-light   : #888888;
$color-gray-deep    : #333333;
$color-orange       : #FFB400;

// fim cores MJV

$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

// colors expertise
$design-thinking: #ca2c58;
$gamefication: #ffb400;
$big-data-analysis: #78b444;
$lean-methodology :#b4adcc;
$digital-strategy: #00698c;
$internet-of-things :#6cc4c8;
$colors-list: $design-thinking $gamefication $big-data-analysis $lean-methodology $digital-strategy $internet-of-things;